%jdbc.url=jdbc:sqlite:/mpp-proiect-java-crandreea/JavaProjectUI/concurs
jdbc.url=jdbc:sqlite:/Users/croitoruandreea/Desktop/ANUL2/semestrul4/MPP/PROIECT/mpp-proiect-java-crandreea/JavaProjectORM/concurs
% jdbc.url=jdbc:sqlite:C:/Users/Florin_C/Desktop/JavaProjectUI/concurs
% jdbc:sqlite:jdbc:sqlite:/Users/croitoruandreea/Desktop/ANUL2/semestrul4/MPP/PROIECT/mpp-proiect-java-crandreea/JavaProjectJurnalizare/concurs.jdbc