.container {
    border: 1px solid black;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
}

.container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

select {
    width: 100px;
}